[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "*"
drf-spectacular = "*"
djangorestframework-simplejwt = "*"
pillow = "*"

[dev-packages]
ruff = "*"
mypy = "*"
djangorestframework-stubs = {version = "*", extras = ["compatible-mypy"]}
django-stubs = {version = "*", extras = ["compatible-mypy"]}
types-markdown = "*"
types-pygments = "*"
types-psycopg2 = "*"
types-pillow = "*"

[requires]
python_version = "3.11"
